<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
                    <img src="/images/camera.svg">
        <a href="/" <%- title === 'All Producers' ? 'class="active"' : '' %>>ALL PRODUCERS</a>
        <% if (user) { %>
            <a href="/producers/new"	<%- title === 'Add Producer' ? 'class="active"' : '' %>>
                ADD PRODUCER</a>
            <a href="/reviews/new" <%- title === 'Add Song' ? 'class="active"' : '' %>>ADD REVIEW</a>
            <a href="/logout">LOG OUT</a>
        <% } else { %>
            <a href="/auth/google" class="login">LOG IN&nbsp;<img class = "googlesign" src="https://i.imgur.com/FHjYyi0.png"></a>
        <% } %>
        
        </nav> 
    </header>
    <main>