<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/public/stylesheets/style.css' />
    <title>Welcome</title>
</head>
<body>
    <header>
        <nav>
                    <img src="/images/camera.svg">
        <a href="/" <%- title === 'All Producers' ? 'class="active"' : '' %>>all producers</a>
        <% if (user) { %>
            <a href="/producers/new"	<%- title === 'Add Producer' ? 'class="active"' : '' %>>
                add producer</a>
            <a href="/reviews/new" <%- title === 'Add Song' ? 'class="active"' : '' %>>add review</a>
            <a href="/logout">log out</a>
        <% } else { %>
            <a href="/auth/google" class="login">login (with gmail)&nbsp;</a>
        <% } %>
        
        </nav> 
    </header>
    <main>