<%- include('../partials/header') %>

<form id="new-form" action="/producers" method="POST">
  <label>stage name:</label>
  <input type="text" name="stageName">
  <label>song title:</label>
  <input type="text" name="songTitle">
  
  <label>producer(s) (separate multiple producers with commas):</label>
  <input type="text" name="producers">
  <input type="submit" value="add producer">
</form>

<%- include('../partials/footer') %>
